.new-tail {
  height: 18px;
  width: 18px;
  background-color: brown;
  color: #000;
  position: absolute;
}
#snake-head {
  left: 100px;
  top: 100px;
  height: 18px;
  width: 18px;
  background-color: brown;
  color: #000;
  position: absolute;
  border-radius: 40%;
}
#food {
  left: 0px;
  top: 0px;
  height: 18px;
  width: 18px;
  background-color: green;
  position: absolute;
  border-radius: 50%;
}
body {
  background-color: khaki;
}
